@use "variables" as *;

@mixin button {
  @include transition((color, background-color));

  font-family: $playfair;
  background-color: $brand-orange;
  color: $white;
  font-size: $medium;
  cursor: pointer;
  padding: 12px 30px;
  font-weight: bold;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

@mixin input {
  @include transition((color, border-color));
  
  font-family: $playfair;
  background-color: $black;
  color: $white;
  border: 1px solid $white;
  font-size: $medium;
  padding: 11px 20px;

  &:focus,
  &:hover {
    border-color: $brand-orange;
    color: $brand-orange;
  }
}

@mixin image-hover {
  @include transition((transform));

  &:hover {
    transform: scale(1.06);
  }
}

@mixin image-shadow {
  filter: drop-shadow(-8px 8px 24px rgba(0, 0, 0, 0.6));
}

body {
  overflow-x: hidden;
}

:root :where(.is-layout-flow) > p {
  margin-top: 1rem;
}
