@use "variables" as *;

%button {
  @include transition((color, background-color));

  font-family: $playfair;
  background-color: $brand-orange;
  color: $white;
  font-size: $medium;
  cursor: pointer;
  padding: 12px 30px;
  font-weight: bold;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

%input {
  @include transition((color, border-color));
  
  font-family: $playfair;
  background-color: $black;
  color: $white;
  border: 1px solid $white;
  font-size: $medium;
  padding: 11px 20px;

  &:focus,
  &:hover {
    border-color: $brand-orange;
    color: $brand-orange;
  }
}

:root :where(.is-layout-flow) > p {
  margin-top: 1rem;
}
